<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing</title>
</head>

<body>

  <form action="" >

    Name : <input type="text" name="name" placeholder="Enter the name">
    <br><br>
    Email : <input type="email" name="email" placeholder="Enter the email">
    <br><br>


    Password : <input type="password " name="password" placeholder="Enter the  Password ">
    <br><br>
    Age : <input type="number" name="age" placeholder="Enter the age">
    <br><br>

    <input type="submit" value="submit">


  </form>




</body>

</html>